/**
 * @name Sewerslvt Draining Love Story Lite Theme
 * @author Kira 290x
 * @description A simple theme about Cynthoni from https://github.com/Kira290X
  * @version 1.0
 */
 
 :root {
    --primary-530: rgba (200,200,200,1);
    --primary-700: rgba (200,200,200,1);
    --primary-600:  rgba (200,200,200,1);
    --background-accent: color-mix(in oklab, var(--primary-530) 100%);
    --guild-notifications-bottom-sheet-pill-background: color-mix(in oklab, var(--primary-700) 100%);
    --background-primary: color-mix(in oklab, var(--primary-600) 100%);
    --background-secondary: color-mix(in oklab, var(--primary-600) 100%);
    color: black;
}
body {
    font-family: Tahoma;
    background-image: url("https://cdn.discordapp.com/attachments/1336775785347813376/1345581236210630747/cachedImage.png?ex=67c5ba6e&is=67c468ee&hm=057d5d54f90be4c9f8a6de2ad26b72857649820eb62d7a5bd07cdd7978dffe2b&");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    backdrop-filter: blur(13px);
}
.container__37e49 {
    background-color: rgba(240, 248, 255, 0);
}